doctype html
html(lang="en")
	head
		title Burger Builder
		link(rel="stylesheet", type="text/css", href="burgercustomize.css")
		link(rel="stylesheet", type="text/css", href="./burgercustomize.css")
		link(rel="stylesheet", type="text/css", href="/burgercustomize.css")
		link(rel="stylesheet", type="text/css", href="/../stylesheets/burgercustomize.css")
		link(rel="stylesheet", type="text/css", href="burgercustomize")
	body 
		h1 WEBVIEW GOES HERE