doctype html
html(lang="en")
	head
		title Burger
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		link(rel ='stylesheet', href="burgercustomize.css", type='text/css')
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
	body
		script.
			// code to connect to the extension necessary to close this view
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));

			// toppings to be used in 
		- var toppings = burger.standardToppings.concat(burger.premiumToppings)

		form#only_form(method="post", action="burger")

			input(type="hidden" name="order_id", value=order_id)
			input(type="hidden" name="title" value=burger.title)
			input(type="hidden" name="sender_id" value=sender_id)

			if !(toppings.includes('chickenPatty'))
				h4 PATTIES
				section.radio.section1.required
					if burger.patties == 3
						input(type="hidden", name="patties", value=3)
						.quantity#one 1
						.quantity#two 2
						.quantity.patty_selected#three 3
					else if burger.patties == 2
						input(type="hidden", name="patties", value=2)
						.quantity#one 1
						.quantity.patty_selected#two 2
						.quantity#three 3
					else
						input(type="hidden", name="patties", value=1)
						.quantity.patty_selected#one 1
						.quantity#two 2
						.quantity#three 3
					
					.wide_checkbox
						.custom_check_on
						input(type="hidden", name="beef", value="true")
						.toggle
							h3 Beef
							p Moo
						p.price $2.00
				
			br
			h4 BUN
			section.radio.section2.required

				.wide_checkbox
					if toppings.includes('standardBun') || (!toppings.includes('lettuceBun') && !toppings.includes('glutenFreeBun') && !toppings.includes('grilledCheeseBun'))
						.custom_check_on
						input(type="hidden", name="standardBun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='standardBun', value="")
					.toggle
						h3 Standard Bun
						p Solid choice
					p.price FREE

				.wide_checkbox
					if toppings.includes('lettuceBun')
						.custom_check_on
						input(type="hidden", name="lettuceBun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='lettuceBun', value="")
					.toggle
						h3 Lettuce Bun
						p Lettuce eat this bun
					p.price FREE

				.wide_checkbox
					if toppings.includes('glutenFreeBun')
						.custom_check_on
						input(type="hidden", name="glutenFreeBun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='glutenFreeBun', value="")
					.toggle
						h3 Gluten Free Bun
						p Mo' gluten mo' problems
					p.price $1.50

				.wide_checkbox
					if toppings.includes('grilledCheeseBun')
						.custom_check_on
						input(type="hidden", name="grilledCheeseBun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='grilledCheeseBun', value="")
					.toggle
						h3 Grilled Cheese Bun
						p Fun in the bun
					p.price $3.00

			br
			h4 SAUCES
			section

				.wide_checkbox
					if toppings.includes('ketchup')
						.custom_check_on
						input(type="hidden", name="ketchup", value="true")
					else
						.custom_check_off
						input(type="hidden", name='ketchup', value="")
					.toggle
						h3 Ketchup
						p Tomato inspired
					p.price FREE

				.wide_checkbox
					if toppings.includes('mustard')
						.custom_check_on
						input(type="hidden", name="mustard", value="true")
					else
						.custom_check_off
						input(type="hidden", name='mustard', value="")
					.toggle
						h3 Mustard
						p The Robin to Ketchups Batman
					p.price FREE

				.wide_checkbox
					if toppings.includes('mayo')
						.custom_check_on
						input(type="hidden", name="mayo", value="true")
					else
						.custom_check_off
						input(type="hidden", name='mayo', value="")
					.toggle
						h3 Mayo
						p Mayo wishes come true
					p.price FREE

				.wide_checkbox
					if toppings.includes('relish')
						.custom_check_on
						input(type="hidden", name="relish", value="true")
					else
						.custom_check_off
						input(type="hidden", name='relish', value="")
					.toggle
						h3 Relish
						p I relish the idea of this burger
					p.price FREE

				.wide_checkbox
					if toppings.includes('fancySauce')
						.custom_check_on
						input(type="hidden", name="fancySauce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='fancySauce', value="")
					.toggle
						h3 Fancy Sauce
						p Comes with a monocle
					p.price FREE

				.wide_checkbox
					if toppings.includes('hotSauce')
						.custom_check_on
						input(type="hidden", name="hotSauce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='hotSauce', value="")
					.toggle
						h3 Hot Sauce
						p Feelin' hot hot hot
					p.price FREE

			br
			h4 TOPPINGS
			section
				.wide_checkbox
					if toppings.includes('chickenPatty')
						.custom_check_on
						input(type="hidden", name="chickenPatty", value="true")
					else
						.custom_check_off
						input(type="hidden", name='chickenPatty', value="")
					.toggle
						h3 Chicken Patty
						p bok bok boooooookkkkk
					p.price $5.00

				// FREE
				.wide_checkbox
					if toppings.includes('lettuce')
						.custom_check_on
						input(type="hidden", name="lettuce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='lettuce', value="")
					.toggle
						h3 Lettuce
						p Now it's a salad
					p.price FREE

				.wide_checkbox
					if toppings.includes('tomatoes')
						.custom_check_on
						input(type="hidden", name="tomatoes", value="true")
					else
						.custom_check_off
						input(type="hidden", name='tomatoes', value="")
					.toggle
						h3 Tomato
						p Solid ketchup
					p.price FREE

				.wide_checkbox
					if toppings.includes('pickles')
						.custom_check_on
						input(type="hidden", name="pickles", value="true")
					else
						.custom_check_off
						input(type="hidden", name='pickles', value="")
					.toggle
						h3 Pickle
						p Salty cucumber
					p.price FREE

				.wide_checkbox
					if toppings.includes('onions')
						.custom_check_on
						input(type="hidden", name="onions", value="true")
					else
						.custom_check_off
						input(type="hidden", name='onions', value="")
					.toggle
						h3 Onions
						p Like ogres
					p.price FREE

				.wide_checkbox
					if toppings.includes('hotPepper')
						.custom_check_on
						input(type="hidden", name="hotPepper", value="true")
					else
						.custom_check_off
						input(type="hidden", name='hotPepper', value="")
					.toggle
						h3 Hot Peppers
						p Hotter than my mixtape
					p.price FREE

				// NOT FREE
				.wide_checkbox
					if toppings.includes('bacon')
						.custom_check_on
						input(type="hidden", name="bacon", value="true")
					else
						.custom_check_off
						input(type="hidden", name='bacon', value="")
					.toggle
						h3 Bacon
						p Fresh 
					p.price $1.50

				.wide_checkbox
					if toppings.includes('standardCheese')
						.custom_check_on
						input(type="hidden", name="standardCheese", value="true")
					else
						.custom_check_off
						input(type="hidden", name='standardCheese', value="")
					.toggle
						h3 Regular Cheese
						p Some call it fromage
					p.price $1.00

				.wide_checkbox
					if toppings.includes('americanCheese')
						.custom_check_on
						input(type="hidden", name="americanCheese", value="true")
					else
						.custom_check_off
						input(type="hidden", name='americanCheese', value="")
					.toggle
						h3 American Style Cheese
						p For the Southerners
					p.price $1.00

				.wide_checkbox
					if toppings.includes('blueCheese')
						.custom_check_on
						input(type="hidden", name="blueCheese", value="true")
					else
						.custom_check_off
						input(type="hidden", name='blueCheese', value="")
					.toggle
						h3 Blue Cheese
						p Not actually blue
					p.price $1.50

				.wide_checkbox
					if toppings.includes('caramelizedOnions')
						.custom_check_on
						input(type="hidden", name="caramelizedOnions", value="true")
					else
						.custom_check_off
						input(type="hidden", name='caramelizedOnions', value="")
					.toggle
						h3 Caramelized Onions
						p Like onions but caramelized
					p.price $1.00

				.wide_checkbox
					if toppings.includes('stuffedPortobello')
						.custom_check_on
						input(type="hidden", name="stuffedPortobello", value="true")
					else
						.custom_check_off
						input(type="hidden", name='stuffedPortobello', value="")
					.toggle
						h3 Stuffed Portobello
						p Fancy mushrooms
					p.price $6.00

				.wide_checkbox
					if toppings.includes('sauteedMushrooms')
						.custom_check_on
						input(type="hidden", name="sauteedMushrooms", value="true")
					else
						.custom_check_off
						input(type="hidden", name='sauteedMushrooms', value="")
					.toggle
						h3 Sauteed Mushrooms
						p All about the oil
					p.price $1.50

				// SIDES
				.wide_checkbox
					if toppings.includes('cheeseSauce')
						.custom_check_on
						input(type="hidden", name="cheeseSauce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='cheeseSauce', value="")
					.toggle
						h3 Side of Cheese Sauce
						p For true fans
					p.price $2.50

				.wide_checkbox
					if toppings.includes('gravySide')
						.custom_check_on
						input(type="hidden", name="gravySide", value="true")
					else
						.custom_check_off
						input(type="hidden", name='gravySide', value="")
					.toggle
						h3 Side of Gravy
						p One step closer to poutine
					p.price $1.50

			br
			button.done(disabled = 'true') DONE
			br
		
		script.
			// called when MessengerExtensions is done loading
			window.extAsyncInit = function() {
				$("button").click(function(){
					// document.getElementById("only_form").submit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				})
			}

			// section idk
			$(".radio").on("click", ".wide_checkbox", function() {
				let checkbox = $(this).children("div:first-child");
				if (checkbox.hasClass("custom_check_on")) {
				} else {
					$(this).parent().find("input[value='true']").attr("value", "");
					$(this).children("input").attr("value", "true");
					$(this).parent().find(".custom_check_on").removeClass("custom_check_on").addClass("custom_check_off");
					checkbox.removeClass("custom_check_off").addClass("custom_check_on");
				}
			})

			// section 1
			$("body").on("click", ".quantity", function() {
				if ($(this).hasClass(".patty_selected")) {
				} else {
					$(".patty_selected").removeClass("patty_selected");
					$(this).addClass("patty_selected");
					if ($(this).attr("id") === "one") {
						$("input[name='patties']").attr("value", 1);
					} else if ($(this).attr("id") === "two") {
						$("input[name='patties']").attr("value", 2);
					} else if ($(this).attr("id") === "three") {
						$("input[name='patties']").attr("value", 3);
					}
				}
			})

			// section 2
			$("body").on("click", ".wide_checkbox", function() {
				if ($(this).parent().hasClass("radio")) {
					// lmao
				} else {
					let checkbox = $(this).children("div:first-child");
					if (checkbox.hasClass("custom_check_on")) { // turn off
						checkbox.removeClass("custom_check_on");
						checkbox.addClass("custom_check_off");
						$(this).children("input").attr("value", "");
					} else {
						checkbox.removeClass("custom_check_off"); // turn on
						checkbox.addClass("custom_check_on");
						$(this).children("input").attr("value", "true")
					}
				}
			})

			$(".required").on("click", ".wide_checkbox", function() {
				if(($(".section1").find(".custom_check_on").length >= 1 || (toppings.includes('chickenPatty'))) && $(".section2").find(".custom_check_on").length >= 1) {
					$("button").prop('disabled', false);
				}
			})

			$(document).ready(function(){
				console.log(toppings)
				console.log((toppings.includes('chickenPatty')))
				if(($(".section1").find(".custom_check_on").length >= 1 || (toppings.includes('chickenPatty'))) && $(".section2").find(".custom_check_on").length >= 1) {
					$("button").prop('disabled', false);
				}
			})
