doctype html
html(lang="en")
	head
		title Combo
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(src="https://use.fontawesome.com/3efb1c9419.js")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		link(rel ='stylesheet', href="combocustomize.css", type='text/css')
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
	body
		script.
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));
		form(method="post" action="combo")
			input(type="hidden" name="order_id", value=order_id)
			input(type="hidden" name="sender_id", value=sender_id)
			h4 FRIES
			section.section1.radio.required
				input(type="hidden" name="food_type", value="")
				.wide_checkbox#smallFries
					.custom_check_off
					.toggle
						h3 Regular
						p Basic fries
					p.price $4.00

				.wide_checkbox#cheesyFries
					.custom_check_off
					.toggle
						h3 Cheesy
						p Add cheese
					p.price $6.50

				.wide_checkbox#poutine
					.custom_check_off
					.toggle
						h3 Poutine
						p Add gravy and cheese
					p.price $8.00

			br
			h4 DRINKS
			section.section2.radio.required
				input(type="hidden" name="drink_type", value="")
				.wide_checkbox.milkshake#milkshake
					.custom_check_off
					.toggle
						h3 Milkshakes
						p Dairy for days
					p.price $4.00

				.wide_checkbox.soda#soda
					.custom_check_off
					.toggle
						h3 Soda
						p So many options
					p.price $1.40

				.wide_checkbox.water#water
					.custom_check_off
					.toggle
						h3 Water
						p Cold and refreshing
					p.price $2.50

			span.milkshake_container
				br
				h4 MILKSHAKE
				section.section3.radio.required
					input(type="hidden" name="milkshake_flavor", value="")
					// vanilla
					.wide_checkbox#vanilla
						.custom_check_off
						.toggle
							h3 Vanilla
							p Back to the basics

					// chocolate
					.wide_checkbox#chocolate
						.custom_check_off
						.toggle
							h3 Chocolate
							p Made from cocoa

					// strawberry
					.wide_checkbox#strawberry
						.custom_check_off
						.toggle
							h3 Strawberry
							p The color of anger

			span.soda_container
				br
				h4 SODA
				section.section4.radio.required
					input(type="hidden" name="soda_flavor", value="")
					.wide_checkbox#pepsi
						.custom_check_off
						.toggle
							h3 Pepsi
							p Tastes like Coke

					.wide_checkbox#dietPepsi
						.custom_check_off
						.toggle
							h3 Diet Pepsi
							p Pepsi for healthy people

					.wide_checkbox#rootBeer
						.custom_check_off
						.toggle
							h3 Root Beer
							p (Root Beer)^2 = Beer

					.wide_checkbox#drpepper
						.custom_check_off
						.toggle
							h3 Dr Pepper
							p That's Mr Pepper to you

					.wide_checkbox#7-up
						.custom_check_off
						.toggle
							h3 7-Up
							p Seven down

					.wide_checkbox#mountainDew
						.custom_check_off
						.toggle
							h3 Mountain Dew
							p Fresh from the mountain

					.wide_checkbox#gingerAle
						.custom_check_off
						.toggle
							h3 Ginger Ale
							p Good for the tummy

					.wide_checkbox#orangeCrush
						.custom_check_off
						.toggle
							h3 Orange Crush
							p Crushes all competition

					.wide_checkbox#icedTea
						.custom_check_off
						.toggle
							h3 Iced Tea
							p I pity the fool

			br
			button(disabled = 'true') DONE
			br

		script.

			$(".wide_checkbox").click(function(){
				var id = $(this).attr("id");
				$(this).parent().children("input").attr("value", id);
			})

			// called when MessengerExtensions is done loading
			window.extAsyncInit = function() {
				$("button").click(function(){
					// document.getElementById("only_form").submit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				})
			}

			// first 2 sections (radio)
			$(".radio").on("click", ".wide_checkbox", function() {
				let checkbox = $(this).children("div:first-child");
				if (checkbox.hasClass("custom_check_on")) {
				} else {
					
					$(this).parent().find(".custom_check_on").removeClass("custom_check_on").addClass("custom_check_off");
					checkbox.removeClass("custom_check_off").addClass("custom_check_on");
					if ($(this).attr("id") === "milkshake") {
						$(".milkshake_container").css("display", "initial");
						$(".soda_container").css("display", "none");
					}
					if ($(this).attr("id") === "soda") {
						$(".milkshake_container").css("display", "none");
						$(".soda_container").css("display", "initial");
					}
					if ($(this).attr("id") === "water") {
						$(".milkshake_container").css("display", "none");
						$(".soda_container").css("display", "none");
					}
				}
			})


			$(".required").on("click", ".wide_checkbox", function() {
				if ($(".section1").find(".custom_check_on").length >= 1 &&
							(($(".water").find(".custom_check_on").length >= 1) ||
							($(".milkshake").find(".custom_check_on").length >= 1 && $(".section3").find(".custom_check_on").length >= 1) ||
							($(".soda").find(".custom_check_on").length >= 1 && $(".section4").find(".custom_check_on").length >= 1))) {

					$("button").prop('disabled', false);
				} else {
					$("button").prop('disabled', true);
				}
			})
