doctype html
html(lang="en")
	head
		title Burger
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		link(rel ='stylesheet', href="burgercustomize.css", type='text/css')
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
	body
		script.
			// code to connect to the extension necessary to close this view
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));

			// toppings to be used in 
		- var toppings = burger.standardToppings.concat(burger.premiumToppings)

		form#only_form(method="post", action="burger")

			input(type="hidden" name="itemName" value=burger.itemName)
			input(type="hidden" name="sender_id" value=sender_id)
			input(type="hidden" name="_link" value=_link)
			- console.log(_link)
			if !(toppings.includes('Chicken Patty'))
				h4 PATTIES
				section.radio.section1.required
					if burger.Patties == 3
						input(type="hidden", name="Patties", value=3)
						.quantity#one 1
						.quantity#two 2
						.quantity.patty_selected#three 3
					else if burger.Patties == 2
						input(type="hidden", name="Patties", value=2)
						.quantity#one 1
						.quantity.patty_selected#two 2
						.quantity#three 3
					else
						input(type="hidden", name="Patties", value=1)
						.quantity.patty_selected#one 1
						.quantity#two 2
						.quantity#three 3
					
					.wide_checkbox
						.custom_check_on
						input(type="hidden", name="beef", value="true")
						.toggle
							h3 Beef
							p Moo
						p.price $2.00
			else
				input(type="hidden" name="Patties", value=3)
			br
			h4 BUN
			section.radio.section2.required

				.wide_checkbox
					if toppings.includes('Sesame Bun') || (!toppings.includes('Lettuce Bun') && !toppings.includes('Gluten Free Bun') && !toppings.includes('Grilled Cheese Bun'))
						.custom_check_on
						input(type="hidden", name="Sesame Bun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Sesame Bun', value="")
					.toggle
						h3 Sesame Bun
						p Solid choice
					p.price FREE

				.wide_checkbox
					if toppings.includes('Lettuce Bun')
						.custom_check_on
						input(type="hidden", name="Lettuce Bun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Lettuce Bun', value="")
					.toggle
						h3 Lettuce Bun
						p Lettuce eat this bun
					p.price FREE

				.wide_checkbox
					if toppings.includes('Gluten Free Bun')
						.custom_check_on
						input(type="hidden", name="Gluten Free Bun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Gluten Free Bun', value="")
					.toggle
						h3 Gluten Free Bun
						p Mo' gluten mo' problems
					p.price $1.50

				.wide_checkbox
					if toppings.includes('Grilled Cheese Bun')
						.custom_check_on
						input(type="hidden", name="Grilled Cheese Bun", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Grilled Cheese Bun', value="")
					.toggle
						h3 Grilled Cheese Bun
						p Fun in the bun
					p.price $3.00

			br
			h4 SAUCES
			section

				.wide_checkbox
					if toppings.includes('Ketchup')
						.custom_check_on
						input(type="hidden", name="Ketchup", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Ketchup', value="")
					.toggle
						h3 Ketchup
						p Tomato inspired
					p.price FREE

				.wide_checkbox
					if toppings.includes('Mustard')
						.custom_check_on
						input(type="hidden", name="Mustard", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Mustard', value="")
					.toggle
						h3 Mustard
						p The Robin to Ketchups Batman
					p.price FREE

				.wide_checkbox
					if toppings.includes('Mayo')
						.custom_check_on
						input(type="hidden", name="Mayo", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Mayo', value="")
					.toggle
						h3 Mayo
						p Mayo wishes come true
					p.price FREE

				.wide_checkbox
					if toppings.includes('Relish')
						.custom_check_on
						input(type="hidden", name="Relish", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Relish', value="")
					.toggle
						h3 Relish
						p I Relish the idea of this burger
					p.price FREE

				.wide_checkbox
					if toppings.includes('Fancy Sauce')
						.custom_check_on
						input(type="hidden", name="Fancy Sauce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Fancy Sauce', value="")
					.toggle
						h3 Fancy Sauce
						p Comes with a monocle
					p.price FREE

				.wide_checkbox
					if toppings.includes('Hot Sauce')
						.custom_check_on
						input(type="hidden", name="Hot Sauce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Hot Sauce', value="")
					.toggle
						h3 Hot Sauce
						p Feelin' hot hot hot
					p.price FREE

			br
			h4 TOPPINGS
			section
				.wide_checkbox
					if toppings.includes('Chicken Patty')
						.custom_check_on
						input(type="hidden", name="Chicken Patty", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Chicken Patty', value="")
					.toggle
						h3 Chicken Patty
						p bok bok boooooookkkkk
					p.price $5.00

				// FREE
				.wide_checkbox
					if toppings.includes('Lettuce')
						.custom_check_on
						input(type="hidden", name="Lettuce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Lettuce', value="")
					.toggle
						h3 Lettuce
						p Now it's a salad
					p.price FREE

				.wide_checkbox
					if toppings.includes('Tomatoes')
						.custom_check_on
						input(type="hidden", name="Tomatoes", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Tomatoes', value="")
					.toggle
						h3 Tomato
						p Solid Ketchup
					p.price FREE

				.wide_checkbox
					if toppings.includes('Pickles')
						.custom_check_on
						input(type="hidden", name="Pickles", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Pickles', value="")
					.toggle
						h3 Pickle
						p Salty cucumber
					p.price FREE

				.wide_checkbox
					if toppings.includes('Onions')
						.custom_check_on
						input(type="hidden", name="Onions", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Onions', value="")
					.toggle
						h3 Onions
						p Like ogres
					p.price FREE

				.wide_checkbox
					if toppings.includes('Hot Peppers')
						.custom_check_on
						input(type="hidden", name="Hot Peppers", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Hot Peppers', value="")
					.toggle
						h3 Hot Peppers
						p Hotter than my mixtape
					p.price FREE

				// NOT FREE
				.wide_checkbox
					if toppings.includes('Bacon')
						.custom_check_on
						input(type="hidden", name="Bacon", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Bacon', value="")
					.toggle
						h3 Bacon
						p Fresh 
					p.price $1.50

				.wide_checkbox
					if toppings.includes('Standard Cheese')
						.custom_check_on
						input(type="hidden", name="Standard Cheese", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Standard Cheese', value="")
					.toggle
						h3 Regular Cheese
						p Some call it fromage
					p.price $1.00

				.wide_checkbox
					if toppings.includes('American Cheese')
						.custom_check_on
						input(type="hidden", name="American Cheese", value="true")
					else
						.custom_check_off
						input(type="hidden", name='American Cheese', value="")
					.toggle
						h3 American Style Cheese
						p For the Southerners
					p.price $1.00

				.wide_checkbox
					if toppings.includes('Blue Cheese')
						.custom_check_on
						input(type="hidden", name="Blue Cheese", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Blue Cheese', value="")
					.toggle
						h3 Blue Cheese
						p Not actually blue
					p.price $1.50

				.wide_checkbox
					if toppings.includes('Caramelized Onions')
						.custom_check_on
						input(type="hidden", name="Caramelized Onions", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Caramelized Onions', value="")
					.toggle
						h3 Caramelized Onions
						p Like Onions but caramelized
					p.price $1.00

				.wide_checkbox
					if toppings.includes('Stuffed Portobello')
						.custom_check_on
						input(type="hidden", name="Stuffed Portobello", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Stuffed Portobello', value="")
					.toggle
						h3 Stuffed Portobello
						p Fancy mushrooms
					p.price $6.00

				.wide_checkbox
					if toppings.includes('Sauteed Mushrooms')
						.custom_check_on
						input(type="hidden", name="Sauteed Mushrooms", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Sauteed Mushrooms', value="")
					.toggle
						h3 Sauteed Mushrooms
						p All about the oil
					p.price $1.50

				// SIDES
				.wide_checkbox
					if toppings.includes('Cheese Sauce')
						.custom_check_on
						input(type="hidden", name="Cheese Sauce", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Cheese Sauce', value="")
					.toggle
						h3 Side of Cheese Sauce
						p For true fans
					p.price $2.50

				.wide_checkbox
					if toppings.includes('Side of Gravy')
						.custom_check_on
						input(type="hidden", name="Side of Gravy", value="true")
					else
						.custom_check_off
						input(type="hidden", name='Side of Gravy', value="")
					.toggle
						h3 Side of Gravy
						p One step closer to Poutine
					p.price $1.50

			br
			button.done DONE
			br
		
		script.
			// called when MessengerExtensions is done loading
			window.extAsyncInit = function() {
				$("button").click(function(){
					// document.getElementById("only_form").submit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				})
			}

			// section idk
			$(".radio").on("click", ".wide_checkbox", function() {
				let checkbox = $(this).children("div:first-child");
				if (checkbox.hasClass("custom_check_on")) {
				} else {
					$(this).parent().find("input[value='true']").attr("value", "");
					$(this).children("input").attr("value", "true");
					$(this).parent().find(".custom_check_on").removeClass("custom_check_on").addClass("custom_check_off");
					checkbox.removeClass("custom_check_off").addClass("custom_check_on");
				}
			})

			// section 1
			$("body").on("click", ".quantity", function() {
				if ($(this).hasClass(".patty_selected")) {
				} else {
					$(".patty_selected").removeClass("patty_selected");
					$(this).addClass("patty_selected");
					if ($(this).attr("id") === "one") {
						$("input[name='Patties']").attr("value", 1);
					} else if ($(this).attr("id") === "two") {
						$("input[name='Patties']").attr("value", 2);
					} else if ($(this).attr("id") === "three") {
						$("input[name='Patties']").attr("value", 3);
					}
				}
			})

			// section 2
			$("body").on("click", ".wide_checkbox", function() {
				if ($(this).parent().hasClass("radio")) {
					// lmao
				} else {
					let checkbox = $(this).children("div:first-child");
					if (checkbox.hasClass("custom_check_on")) { // turn off
						checkbox.removeClass("custom_check_on");
						checkbox.addClass("custom_check_off");
						$(this).children("input").attr("value", "");
					} else {
						checkbox.removeClass("custom_check_off"); // turn on
						checkbox.addClass("custom_check_on");
						$(this).children("input").attr("value", "true")
					}
				}
			})

			//- $(".required").on("click", ".wide_checkbox", function() {
			//- 	if(($(".section1").find(".custom_check_on").length >= 1 || (toppings.includes('Chicken Patty'))) && $(".section2").find(".custom_check_on").length >= 1) {
			//- 		$("button").prop('disabled', false);
			//- 	}
			//- })

			//- $(document).ready(function(){
			//- 	console.log(toppings)
			//- 	console.log((toppings.includes('Chicken Patty')))
			//- 	if(($(".section1").find(".custom_check_on").length >= 1 || (toppings.includes('Chicken Patty'))) && $(".section2").find(".custom_check_on").length >= 1) {
			//- 		$("button").prop('disabled', false);
			//- 	}
			//- })
