doctype html
html(lang="en")
	head
		title Cashier
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel ='stylesheet', href="cashier.css", type='text/css')
	body
		.container
			.navbar 
				div Foodbot
				div Cashier
			//- .flex
			//- 	each order in orders
			//- 		.order
			//- 			.left
			//- 				.overview
			//- 					unless order.isPaid
			//- 						//- money logo here
			//- 					.number_time
			//- 						.number= order._id
			//- 						//- stop using this
			//- 						.time= order.CreatedAt
			//- 				.details
			//- 					each item in order._items
			//- 						//- combo logic here
			//- 						.name= item.itemName
			//- 							if item.itemName == "burger"
			//- 							.toppings
			//- 								each topping in item.standardToppings
			//- 									.topping= topping
			//- 								each topping in item.premiumToppings
			//- 									.topping= topping
			//- 			.right
			//- 				unless order.isPaid
			//- 					.option Mark as Paid
			//- 				unless order.isCompleted
			//- 					.option Mark as Read
