doctype html
html(lang="en")
	head
		title Burger
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
		link(rel="stylesheet", href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
		link(rel ='stylesheet', href="receipt.css", type='text/css')
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
	body
		script.
			// code to connect to the extension necessary to close this view
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'Messenger'));

		- var items = order._items;

		p= items

		form Double Bacon Cheese Burger
			.description Also includes ...
			input(type="submit")
			.price $13.00

		form Burger Combo
			.description Comes with ...
			input(type="submit")
			.price $8.00

		form Fries
			input(type="submit")
			.price $2.00

		button SOUNDS GOOD
		
		script.
			// called when MessengerExtensions is done loading
			window.extAsyncInit = function() {
				$("button").click(function(){
					// document.getElementById("only_form").submit();
					MessengerExtensions.requestCloseBrowser(function success() {
						console.log("success");
					}, function error(err) {
						console.log(err);
					});
				})
			}
