@font-face {
  font-family: "San Francisco";
  font-weight: 350;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 350;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}


.ui-page-theme-a {
	text-shadow: 0 0 0 white;
}

/* 414px max width */
html, body {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	color: rgba(0,0,0,0.4);
    font-family: BlinkMacSystemFont, San Francisco, Roboto, Helvetica, Arial, sans-serif;
	font-weight: 350;
	margin: 0;
	padding: 0;
}

section {
	background-color: white;
	color: black;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	/*box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
}

h4 {
	letter-spacing: .08em;
	color: #b8b8b8;
	padding-top: 28px!important;
	padding-bottom: 10px!important;
	padding-left: 14px!important;
	font-size: .8em;
}

h3, h4 {
	font-weight: 400;
	margin: 0;
}

form {
	border-left: 1px solid #ddd;
	width: 100%;
	max-width: 414px;
	margin: 0 auto;
}

.toggle label, .toggle input {
	display: inline-block;
}

.toggle input {
	float: right;
}

.tab {
	height: 40px;
	line-height: 40px;
	width: 33.33%;
	background-color: #f6f6f6;
	display: inline-block;
	cursor: pointer;
}

.tab:hover {
	background-color: white;
}

.tab.active {
	background-color: white;
}

/* toppings section */
.tab h4 {
	text-align: center;
}

.contents {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
}

.square {
	position: relative;
	width: 23%;
	height: 23%;
	text-align: center;
	cursor: pointer;

	border: 1px solid black;
	/*border-radius: 10%;*/
}

/*top*/
.square:nth-child(1), .square:nth-child(2), .square:nth-child(3), .square:nth-child(4) {
	border-top: 0px solid black;
}

/*right*/
.square:nth-child(4n+4) {
	border-right: 0px solid black;
}

.square:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.square.selected {
	background-color: #58BA47;
	/*border: 2px solid #3D8231;*/
}

.square_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
	height: 50%;
}

.custom_check_off {
	/*background-color: red;*/
	margin-left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #ccc;
	display: inline-block;
	position: relative;
	background-color: white;
	top: -2px;
	right: 10px;
}

.custom_check_on {
	/*background-color: red;*/
	margin-left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid white;
	display: inline-block;
	position: relative;
	background-color: #0080ff;
	top: -2px;
	right: 10px;
}

.image_top {
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
}

.toggle {
	width: 70%;
	display: inline-block;
}

.toggle p {
	color: rgba(0,0,0,.4)
}

.wide_checkbox {
	width: 100%;
	height: 70px;
	cursor: pointer;
}

.wide_checkbox:hover, .quantity:hover {
	background-color: #f7f7f7;
}

.quantity.patty_selected:hover {
	background-color: #0080ff;
}

.wide_checkbox {
	border-bottom: 1px solid #eee;
}

.wide_checkbox:last-child {
	border-bottom: 0px solid #eee;
}

h3 {
	font-size: .95em;
	margin-top: 15px;
	padding-left: 5px;
	font-weight: 350;
}

.toggle p {
	margin-top: 3px;
	font-size: .7em;
	letter-spacing: .3px;
	padding-left: 5px;
}
/* section 1 stuff */
#section1 {
	height: 40px;
	background-color: #f9f9f9;
	border-top: 0px;
	border-bottom: 0px;
}

.quantity {
	width: 33.15%;
	display: inline-block;
	height: 100%;
	line-height: 40px;
	text-align: center;
	background-color: white;
	font-size: 1.3em;
	cursor: pointer;
}

@media (max-width: 360px) {
	.quantity {
		width: 33.1%;
	}
}

.quantity:nth-of-type(2) {
	border: 1px solid #ddd;
	border-top: 0px solid red;
}

.quantity:nth-of-type(1), .quantity:nth-of-type(3) {
	border-bottom: 1px solid #ddd;
	/*border-top: 1px solid #ddd;*/
}

.quantity:nth-of-type(1).patty_selected, .quantity:nth-of-type(3).patty_selected {
	/*border-top: 1px solid #0080ff;*/
	border-bottom: 1px solid #0080ff;
}

.quantity:nth-of-type(2).patty_selected {
	border: 1px solid #0080ff;
	border-top: 0px solid red;
}

.patty_selected {
	background-color: #0080ff;
	color: white;
}

p.price {
	font-size: .9em;
	color: rgba(0,0,0,.4);
	display: inline-block;
	position: relative;
	bottom: 8px;
}

button {
    font-family: BlinkMacSystemFont, San Francisco, Roboto, Helvetica, Arial, sans-serif;
	background-color: #0084ff !important;
	color: white !important;
	text-decoration: none!important;
	text-shadow: 0 0 0 #f3f3f3!important;
	font-weight: 300!important;
	letter-spacing: .1em;
	border-radius: 0 !important;
	/*box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
	border: 0px solid white!important;
}

.done {
	width: 85% !important;
	height: 45px;
	letter-spacing: .06em;
	font-weight: 300;
	margin: 15px 15px 15px 8% !important;
	box-shadow: 0px 3px 5px -3px black;
    box-sizing: content-box;
    border-radius: 7px !important;
}

button:active {
	background-color: #0073e0!important;
}

/*.quantity:nth-of-type(1) {
	border-radius: 20px 0 0 20px;
}

.quantity:nth-of-type(3) {
	border-radius: 0 20px 20px 0;
}*/







