html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #1e2b3c;
	font-family: Arial;
	color: #444;
}

.order {
	/* width: 100%; */
	font-size: .8em;
	padding: 20px;
	margin-bottom: 25px;
	background-color: white;
}

.name {
	margin-top: 5px;
	margin-bottom: 10px;
}

.time {
	margin-bottom: 4px;
}

.topping {
	margin-bottom: 3px;
}

.container {
}

.number_time {
	display: inline-block;
}

.number {
	color: black;
	font-weight: 600;
	margin-bottom: 4px;
}

.flex {
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
}

.left {
	width: 90%;
	display: inline-block;
}

.right {
	width: 10%;
	display: inline-block;
}

.navbar {
	height: 60px;
	color: white;
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
}

.navbar div {
	display: inline-block;
	font-size: 3em;
	font-weight: 600;
	line-height: 60px;
}

.navbar div:nth-child(2) {
	color: #455263;
	font-size: 1.4em;
	font-weight: 500;
	float: right;
}

.green {
	color: green;
}

img {
	width: 42px;
	margin-right: 15px;
}

.overview {
	border-bottom: 1px solid grey;
}
