html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #191a1a;
	font-family: Arial;
	color: #efefe6;
}

/*all content on page*/
body > div {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: row;
	/*is evenly a thing*/
	justify-content: space-evenly;
}

/*column*/
section {
	width: 30%;
}

/*top of column*/
.title {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 10px;
	font-size: 1.3em;
	height: 20px;
	line-height: 20px;
}

/*all orders*/
.container {
	display: flex;
	flex-direction: column;
}

/*each order*/
.container > div {
	background: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*each row*/
.top, .bottom, .middle div {
	height: 20px;
	background: #efefe6;
	color: #191a1a;
}