.ui-page-theme-a {
	text-shadow: 0 0 0 white;
}

span {
	background-color: white;
}

/* 414px max width */
html, body {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	color: rgba(0,0,0,0.4);
	font-family: Arial;
	font-weight: 400;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

section {
	background-color: white;
	color: black;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	/*box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
}

h4 {
	letter-spacing: .08em;
	color: #b8b8b8;
	padding-top: 28px!important;
	padding-bottom: 10px!important;
	padding-left: 14px!important;
	font-size: .8em;
}

h3, h4 {
	font-weight: 400;
	margin: 0;
}

form {
	border-left: 1px solid #ddd;
	width: 100%;
	height: 100vh;
	max-width: 414px;
	margin: 0 auto;
}

.toggle label, .toggle input {
	display: inline-block;
}

.toggle input {
	float: right;
}

.tab {
	height: 40px;
	line-height: 40px;
	width: 33.33%;
	background-color: #f6f6f6;
	display: inline-block;
	cursor: pointer;
}

.tab:hover {
	background-color: white;
}

.tab.active {
	background-color: white;
}

/* toppings section */
.tab h4 {
	text-align: center;
}

.contents {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
}

.square {
	position: relative;
	width: 23%;
	height: 23%;
	text-align: center;
	cursor: pointer;

	border: 1px solid black;
	/*border-radius: 10%;*/
}

/*top*/
.square:nth-child(1), .square:nth-child(2), .square:nth-child(3), .square:nth-child(4) {
	border-top: 0px solid black;
}

/*right*/
.square:nth-child(4n+4) {
	border-right: 0px solid black;
}

.square:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.square.selected {
	background-color: #58BA47;
	/*border: 2px solid #3D8231;*/
}

.square_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
	height: 50%;
}

.custom_check_off {
	/*background-color: red;*/
	margin-left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #ccc;
	display: inline-block;
	position: relative;
	background-color: white;
	top: 7px;
	right: 10px;
}

.toggle h3, .price {
	height: 70px;
	line-height: 70px;
	color: #222;
}

.custom_check_on {
	margin-left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid white;
	display: inline-block;
	position: relative;
	background-color: #0080ff;
	top: 7px;
	right: 10px;
}

.image_top {
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
}

.toggle {
	width: 70%;
	display: inline-block;
}

.toggle p {
	color: rgba(0,0,0,.4)
}

.wide_checkbox {
	width: 100%;
	height: 70px;
	cursor: pointer;
	background-color: white;
}

.wide_checkbox:hover, .quantity:hover {
	background-color: #f7f7f7;
}

.quantity.patty_selected:hover {
	background-color: #0080ff;
}

.wide_checkbox {
	border-bottom: 1px solid #eee;
}

.wide_checkbox:last-child {
	border-bottom: 0px solid #eee;
}

h3 {
	/*make bigger when 2 line works*/
	font-size: .85em;
	margin-top: 0px;
	padding-left: 5px;
	font-weight: 400;
	color: darkgrey;
}

.toggle p {
	margin-top: 3px;
	font-size: .7em;
	letter-spacing: .3px;
	padding-left: 5px;
}
/* section 1 stuff */
#section1 {
	height: 40px;
	background-color: #f9f9f9;
	border-top: 0px;
	border-bottom: 0px;
}

.quantity {
	width: 33.15%;
	display: inline-block;
	height: 100%;
	line-height: 40px;
	text-align: center;
	background-color: white;
	font-size: 1.3em;
	cursor: pointer;
}

@media (max-width: 360px) {
	.quantity {
		width: 33.1%;
	}
}

.quantity:nth-of-type(2) {
	border: 1px solid #ddd;
	border-top: 0px solid red;
}

.quantity:nth-of-type(1), .quantity:nth-of-type(3) {
	border-bottom: 1px solid #ddd;
	/*border-top: 1px solid #ddd;*/
}

.quantity:nth-of-type(1).patty_selected, .quantity:nth-of-type(3).patty_selected {
	/*border-top: 1px solid #0080ff;*/
	border-bottom: 1px solid #0080ff;
}

.quantity:nth-of-type(2).patty_selected {
	border: 1px solid #0080ff;
	border-top: 0px solid red;
}

.patty_selected {
	background-color: #0080ff;
	color: white;
}

p.price {
	font-size: .9em;
	color: rgba(0,0,0,.4);
	display: inline-block;
}

button {
	font-family: Arial!important;
	background-color: #0080ff !important;
	color: white !important;
	text-decoration: none!important;
	text-shadow: 0 0 0 #f3f3f3!important;
	font-weight: 400!important;
	letter-spacing: .1em;
	border-radius: 0 !important;
	/*box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
	border: 0px solid white!important;
}

button:active {
	background-color: #1E847B!important;
}

button.view1button {
	margin: 0;
}

#original_total {
	width: 95%;
	position: fixed;
	bottom: 58px;
	text-align: right;
}

.lightswitch div {
	color: #888;
	text-align: center;
	letter-spacing: .1em;
	display: inline-block;
	width: 49.7%;
	background-color: #eee;
	height: 100%;
	line-height: 70px;
	font-size: 1.4em;
	font-weight: 400;
	cursor: pointer;
}

.lightswitch div:nth-child(3) {
	border-bottom: 2px solid #ddd;
	border-left: 2px solid #ddd;
}

.lightswitch div:nth-child(2) {
	border-bottom: 2px solid #ddd;
	border-right: 2px solid #ddd;
}

.lightswitch div.selected {
	background-color: white;
	border: 0px solid white;
	color: #666;
}

/*.quantity:nth-of-type(1) {
	border-radius: 20px 0 0 20px;
}

.quantity:nth-of-type(3) {
	border-radius: 0 20px 20px 0;
}*/

.ui-input-text, .ui-input-search {
	border-width: 0px;
}

#view2container {
	background: white;
	position: relative;
}

#view2container input[type=text], #time {
	border: 0px solid black !important;
	color: #666 !important;
	height: 50px !important;
	border-bottom: 2px solid #ccc !important;
	width: 90% !important;
	margin-left: 5% !important;
	border-radius: 0px !important;
	font-size: 20px !important;
	padding-left: 8px !important;
	margin-bottom: 20px !important;
	font-family: Arial !important;
}

#view2container input:focus {
	outline: none;
}

#get_total {
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: #666;
	font-size: 1.3em;
	font-weight: 300;
}

.doneview1 {
	width: 100%;
	height: 50px;
	font-size: 1.4em;
	font-weight: 500;
	letter-spacing: .1em;
}

p.label {
	width: 90%;
	margin-left: 5%;
	color: rgb(120,120,120);
	font-size: .7em;
	letter-spacing: .1em;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 28px;
}

p.label:nth-child(4) {
	margin-top: 0px;
}

.pay_row {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.pay_row input {
	border: 0px;
	background-color: #0080ff;
	color: white;
	height: 50px;
	display: inline-block;
	width: 49%;
}

input::-webkit-input-placeholder {
	color: #ddd !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #ddd !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #ddd !important;  
}
 
input:-ms-input-placeholder {  
	color: #ddd !important;  
}

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}











